.book-card {
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 20px;
  padding: 20px;
  font-family: "Manjari", system-ui;
  border: 2px solid transparent;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.book-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  border: 2px solid #ff4d6d;
}

/* COVER */
.book-cover {
  width: 90%;
  height: 80%;
  border-radius: 12px;
  overflow: hidden;
  background: #f2f2f2;
  margin-bottom: 20px;
}

.book-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* INFO */
.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}

.book-title,
.book-author,
.book-year {
  margin: 5px; /* removes default spacing */
  
}
h3.book-title {
  font-size: 1.3rem;
}



.book-title {
 
  font-weight: 700;
  color: #333;
  text-align: center;
}

.book-author {
  font-size: 0.95rem;
  color: #666;
}
.book-year {
  font-size: 0.9rem;
  color: #999;
}


/* BUTTON */
.view-book-btn {
  border: none;
  height: 30px;
  width: 40%;
  border-radius: 30px;
  background: #ff4d6d;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-family: "Manjari", system-ui;
  padding: 6px 20px 2px 20px;
  font-size: 16px;
}

.view-book-btn:hover {
  opacity: 0.85;
  cursor: pointer;
}

.view-author-reco-btn {
  border: none;
  height: 30px;
  width: 100%;
  border-radius: 30px;
  background: #a1d63e;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-family: "Manjari", system-ui;
  padding: 6px 20px 2px 20px;
  font-size: 16px;
}
.view-author-reco-btn:hover {
  opacity: 0.85;
  transform: translateY(-4px);
}

.view-playlist-btn {
  border: none;
  height: 30px;
  width: 100%;
  border-radius: 30px;
  background: #55dec5;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-family: "Manjari", system-ui;
  padding: 6px 20px 2px 20px;
  font-size: 16px;
}
.view-playlist-btn:hover {
  opacity: 0.85;
  transform: translateY(-4px);
}
.library-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 5px;
}

.library-actions button {
  width: 100%;
}

.create-playlist-btn {
  border: none;
  height: 30px;
  width: 100%;
  border-radius: 30px;
  background: #55dec5;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-family: "Manjari", system-ui;
  padding: 6px 20px 2px 20px;
  font-size: 16px;
}
.create-playlist-btn:hover {
  opacity: 0.85;
  transform: translateY(-4px);
}

.create-author-playlist-btn {
  border: none;
  height: 30px;
  width: 100%;
  border-radius: 30px;
  background: #a1d63e;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-family: "Manjari", system-ui;
  padding: 6px 20px 2px 20px;
  font-size: 16px;
}
.create-author-playlist-btn:hover {
  opacity: 0.85;
  transform: translateY(-4px);
}

.return-book-btn {
  border: none;
  height: 30px;
  border-radius: 30px;
  background: #ff4d6d;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-family: "Manjari", system-ui;
  padding: 6px 20px 2px 20px;
  font-size: 16px;
}
.return-book-btn:hover {
  opacity: 0.85;
  transform: translateY(-4px);
}

.book-card.in-library button {
  width: 80%;
  font-size: 14px;
  height: 25px;
}
.book-card.in-library .book-cover {
  margin-bottom: 0;
}

