.navbar {
    width: 80%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg,#ff66c4, #ffd16e);
    border-radius: 20px;
    
    box-shadow: 0 8px 8px rgba(52, 51, 51, 0.1);
    padding: 10px 20px;
}

/* Brand */
.navbar-brand {
    font-size: 36px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    font-family: "Monoton", system-ui;
}

/* Right-side links */
.navbar-right {
    display: flex;
    align-items: center;
    font-family: "Manjari", system-ui;
    gap: 35px;
    font-size: 24px;
}

.user-role {
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Manjari", system-ui;
}


.navbar-right a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    padding-bottom: -1px; /* tiny optical lift */

}

.navbar-right a:hover {
    opacity: 0.7;
}

.navbar-right a.active {
    background: rgba(255,255,255,0.25);
    padding: 8px 14px 1px 14px; /* optical centering */
    border-radius: 20px;
    opacity: 0.9;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
