h2{
    font-family: "Manjari", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
}

.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Manjari", system-ui;
    width: 50%;
    margin: 20px;
    padding: 40px;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 8px 8px rgba(52, 51, 51, 0.1);
}

.signup-form input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 20px;
    font-family: "Manjari", system-ui;
    background-color: #f5f3f3;
    
}

.signuppage-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-family: "Manjari", system-ui;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background: radial-gradient( #b7d67d, #a0d53d);
    
}

.signuppage-button:hover {
   opacity: 0.7;
    cursor: pointer;
}

/* SUCCESS & ERROR MESSAGES */
/* Fullscreen darkened background */
.success-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* ensures it sits above everything */
}

/* Centered popup box */
.success-box {
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  animation: popIn 0.25s ease-out;
}

/* Green check icon */
.success-icon {
  font-size: 3rem;
  color: #a1d63e;
  margin-bottom: 1rem;
}

/* Button styling */
.success-box button {
  margin-top: 1rem;
  padding: 0.7rem 1.2rem;
  background: #ad7ad8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.success-box button:hover {
  background: #9b68c2;
}

/* Smooth pop animation */
@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Error message styling */
.error-message {
    color: #cd074f;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    }