.playlist-card {
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 20px;
  padding: 10px;
  font-family: "Manjari", system-ui;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.playlist-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.18);
}

.playlist-card-cover {
  width: 90%;
  height: 80%;
  border-radius: 12px;
  overflow: hidden;
  background: #f2f2f2;
  margin-bottom: 20px;
}
.playlist-card-cover img {
   width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.playlist-card-info {
  padding: 12px;
}

.playlist-card-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.playlist-card-book {
  font-size: 0.9rem;
  color: #666;
}

.playlist-card-count {
  margin-top: 6px;
  font-size: 0.85rem;
  color: #444;
}