.playlist-card {
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid transparent;
  font-family: "Manjari", system-ui;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease;
  box-sizing: border-box;
  gap: 10px;
}

.playlist-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  border: 2px solid #ff66c4;
  
}

.playlist-card-cover {
  width: 90%;
  height: 80%;
  border-radius: 12px;
  overflow: hidden;
  background: #f2f2f2;
  
}
.playlist-card-cover img {
   width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  text-align: center;
}

.playlist-card-info {
  padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.playlist-card-title {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 0px;       
}

.playlist-card-book {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}

.playlist-card-count {
  margin-top: 6px;
  font-size: 0.85rem;
  color: #444;
  margin: 0;
}