.admin-dash-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 26px;
  font-family: "Manjari", system-ui;
}
.admin-dash-container {
    width: 70%;
    margin-top: 30px;
    padding: 25px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.admin-dash-title {
  font-size: 40px;
  margin-bottom: 30px;
}

.admin-dash-cards {
  display: flex;
  width: 50%;
  gap: 50px;
  margin-bottom: 50px;

}

.admin-dash-card {
  flex: 1;
  background: #ffffff;
  border-radius: 14px;
  padding: 20px;
  text-decoration: none;
  color: #222;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: transparent 2px solid;
}

.admin-dash-card:hover {
  transform: translateY(-4px);
  border-color: #ff66c4;
}


.admin-dash-card h2 {
  margin: 0 0 8px 0;
  font-size: 30px;
}

.admin-dash-card p {
  margin: 0;
  font-size: 14px;
  color: #666;
}